/* Jaquinta Rahmadias Kusuma_202432001 */
body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: #f4f7f6;margin: 0;
}
header {background-color: #63a1ba; 
    color: white;
    padding: 2rem;
    text-align: center;
}
nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border: 1px solid white;
    border-radius: 4px;
    margin: 0 5px;
}
main { padding: 2rem; max-width: 1000px; margin: auto; }
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.styled-table th {
    background-color: #63a1ba;
    color: white;
    padding: 15px;
    border: 1px solid #ffffff55; 
}

.styled-table td {
    padding: 15px;
    border: 1px solid #63a1ba; 
}

th { background-color: #3498db; color: white; }
tr:nth-child(even) { background-color: #f9f9f9; }